<div class="container">
  <h2>Cadastro Financeiro</h2>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <input type="text" class="form-control" formControlName="descricao" id="descricao" required>
    </div>
    <!-- <div *ngIf="form.controls['descricao'].errors.required">
      Preenchimento obrigatório
    </div> -->
    <div *ngIf="!form.controls['descricao'].valid" class="alert alert-danger">
        Descricao is required.
    </div>

    <div class="form-group">
      <label for="tipo">Tipo</label>
      <select class="form-control" id="tipo" required [(ngModel)]="model.tipo" name="tipo">
        <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
      </select>
    </div>
    <!-- <div [hidden]="tipo.valid" class="alert alert-danger">
      Preenchimento obrigatório
    </div> -->

    <div class="form-group">
      <label for="vencimento">Vencimento</label>
      <input type="text" class="form-control" id="vencimento"  mask="00/00/0000">
    </div>
    <!-- <div [hidden]="vencimento.valid" class="alert alert-danger">
      Preenchimento obrigatório
    </div> -->

    <div class="form-group">
      <label for="valor">Valor</label>
      <input type="text" class="form-control" id="valor" >
    </div>
    <!-- <div [hidden]="valor.valid" class="alert alert-danger">
      Preenchimento obrigatório
    </div> -->

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>

  </form>
</div>

<div class="form-row align-items-center">
  <div class="col-auto my-1">
    <a routerLink=""><button class="btn btn-primary">
        Cancelar</button> </a> </div> </div>